<h1>this is h1</h1>

<% @coins %>

<% for x in @coins %>
    <% for coin in @coins_array %>
        <% if coin == x["symbol"] %>
            <p></p><%= x["name"] %>: $<%= x["price_usd"] %></p>
            <p>Rank: <%= x["rank"] %></p>
        <% end %>
    <% end %>
<% end %>
